* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    min-height: 800px;
}

.header-part {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 11%;
    max-width: 500px;
}

.header-part h1 {
    font-size: 10vw;
    color: #FF5400;
}

.header h1:hover {
    color: #ECC30B;
    transition: 400ms;
}

.header-text {
    font-size: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-dev {
    color: #ECC30B;
}

.header-dev:hover {
    color: #FF5400;
    transition: 400ms;
}

.header-separator {
    color: #5688C7;
}

.header-ops {
    color: #FF5400;
}

.header-ops:hover {
    color: #ECC30B;
    transition: 400ms;
}

.header img {
    width: 90vw;
    height: auto;
    max-width: 500px;
    align-self: center;
}

.boxes {
    border: 2px dotted;
    padding: 4%;
    margin: 2%;
    border-radius: 20px;
    border-color: #5688C7;
    text-align: center;
    /* max-width: 500px; */
    /* display: inline-block; */
}

.boxes h1 {
    font-size: 7vw;
    color: #FF5400;
    padding-bottom: 10px;
}

.boxes p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5vw;
    color: #ECC30B;
}

.boxes p:hover {
    color: #FF5400;
    transition: 400ms;
}

@media (min-width: 500px) {
    .header-part h1 {
        font-size: 70px;
    }

    .header-text {
        font-size: 35px;
    }

    .boxes h1 {
        font-size: 35px;
    }

    .boxes p {
        font-size: 25px;
    }
}

@media (min-width: 670px) {
    .box-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.footer {
    padding: 20px;
    margin-top: 30px;
    color: #FF5400;
    border-top: 2px #5688C7 dotted;
    font-size: 20px;
    text-align: center;
}